.Navbar-wrap {
  padding: 10px 16px;
  background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include at-900px {
    padding: 30px 16px;
  }

  .logo {
    padding: 0 40px;
    z-index: 1000;

    @include at-900px {
      position: absolute;
      left: 0px;
    }

    .logo-image {
      width: 40px;
      border-radius: 50%;
    }
  }

  .burger-menu {
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    display: none;
    cursor: pointer;
    z-index: 1000;

    @include at-900px() {
      display: block;
    }
  }

  ul {
    display: flex;
    align-items: center;

    @include at-900px {
      flex-direction: column;
    }

    li {
      list-style: none;
      list-style: none;
      margin-right: 3rem;

      @include at-900px {
        margin: 20px 10px;
      }

      a {
        border-bottom: 2px solid transparent;
        text-decoration: none;
        color: white;
        font-family: "Public Sans", sans-serif;
        font-size: 1.5rem;

        @include at-900px {
          font-size: 2.5rem;
          text-shadow: 3px 2px black;
        }

        &::after {
          content: "";
          width: 0%;
          height: 3px;
          background-color: white;
          display: block;
        }
        &:hover::after {
          width: 100%;
          transition: all 0.4s ease-in-out;
        }
      }
    }

    .search {
      position: absolute;
      right: 100px;
      top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include at-900px {
        position: revert;
      }
    }
  }

  // .iconLinks {
  //   width: 40px;
  //   height: 40px;
  //   margin: 6px 12px;
  //   background-color: white;
  //   text-shadow: 3px 2px black;
  // }
}

// ---------------
.menu-list {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-out;

  @include at-900px() {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  }
}

.menu-list-close {
  display: flex;
  align-items: center;

  @include at-900px() {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-700rem);
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  }
}
