.skill-wrapper {
  margin: 0 auto;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");

  .skillBox {
    margin: 1rem auto;
    display: grid;
    // grid-template-columns: repeat(4, 25%);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: dense;
    gap: 1rem;
    justify-items: center;
    align-items: center;

    @include for-tablet-portrait-up() {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
