@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* font-family: 'Permanent Marker', cursive; */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #eee;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.header .Navbar-wrap {
  padding: 10px 16px;
  background: -webkit-gradient(linear, right top, left top, from(#56b0fd94), to(#3a7bd5));
  background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .header .Navbar-wrap {
    padding: 30px 16px;
  }
}

.header .Navbar-wrap .logo {
  padding: 0 40px;
  z-index: 1000;
}

@media (max-width: 900px) {
  .header .Navbar-wrap .logo {
    position: absolute;
    left: 0px;
  }
}

.header .Navbar-wrap .logo .logo-image {
  width: 40px;
  border-radius: 50%;
}

.header .Navbar-wrap .burger-menu {
  position: absolute;
  top: 0.4rem;
  right: 2.5rem;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 900px) {
  .header .Navbar-wrap .burger-menu {
    display: block;
  }
}

.header .Navbar-wrap nav {
  padding: 0 50px;
}

.header .Navbar-wrap nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .header .Navbar-wrap nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .Navbar-wrap nav ul li {
  list-style: none;
  list-style: none;
  margin-right: 3rem;
}

@media (max-width: 900px) {
  .header .Navbar-wrap nav ul li {
    margin: 20px 10px;
  }
}

.header .Navbar-wrap nav ul li a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .header .Navbar-wrap nav ul li a {
    font-size: 2.5rem;
    text-shadow: 3px 2px black;
  }
}

.header .Navbar-wrap nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  display: block;
}

.header .Navbar-wrap nav ul li a:hover::after {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .Navbar-wrap nav ul .search {
  position: absolute;
  right: 100px;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .header .Navbar-wrap nav ul .search {
    position: revert;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (max-width: 900px) {
  .menu-list {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fafafa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, right top, left top, from(#56b0fd94), to(#3a7bd5));
    background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  }
}

.menu-list-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .menu-list-close {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fafafa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateX(-700rem);
            transform: translateX(-700rem);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: -webkit-gradient(linear, right top, left top, from(#56b0fd94), to(#3a7bd5));
    background: linear-gradient(to left, #56b0fd94, #3a7bd5);
  }
}

.home {
  color: white;
  width: 100%;
  height: 100%;
}

.home .heroSection {
  overflow: hidden;
  position: relative;
}

.home .heroSection video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin: 0.2rem;
  margin-top: 4rem;
  padding: 0.5rem;
}

@media (max-width: 900px) {
  .home .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .container .left-side {
  margin: 0.8rem auto;
}

.home .container .left-side img {
  width: 300px;
  height: 300px;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background: url("https://www.transparenttextures.com/patterns/green-gobbler.png"), -webkit-gradient(linear, left bottom, left top, from(white), to(#3a7bd5));
  background: url("https://www.transparenttextures.com/patterns/green-gobbler.png"), linear-gradient(to top, white, #3a7bd5);
}

@media (max-width: 900px) {
  .home .container .left-side img {
    width: 180px;
    height: 180px;
  }
}

.home .container .right {
  width: 50%;
  margin: 0.8rem auto;
}

@media (max-width: 900px) {
  .home .container .right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper {
  background-color: white;
  padding: 0.5rem;
  margin-top: 4rem;
}

.wrapper .container {
  width: 90%;
  margin: 0 auto;
}

.wrapper .container .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .wrapper .container .caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .container .caption .para {
  width: 100%;
}

.wrapper .container .caption .img {
  margin: 0 0.2rem;
  padding: 0 8px;
}

.skill-wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-top: 4rem;
}

.skill-wrapper .skillBox {
  margin: 2.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .skill-wrapper .skillBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-wrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.project-wrapper .project-display {
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-flow: dense;
  gap: 1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .project-wrapper .project-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-wrapper .project-display .item-wrapper {
  -webkit-box-shadow: 0 2px 3px black;
          box-shadow: 0 2px 3px black;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  font-family: system-ui;
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}

.h1 {
  font-size: 2.8rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 0;
  margin: 1rem 0;
  font-family: system-ui;
}

@media (max-width: 600px) {
  .h1 {
    font-size: 2.1rem;
    margin: 0.5rem 0;
  }
}

.h2 {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  font-family: system-ui;
}

@media (max-width: 600px) {
  .h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}

.p {
  font-size: 1.2rem;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;
}

@media (max-width: 600px) {
  .p {
    font-size: 0.8rem;
  }
}

.image-wrapper {
  width: 100%;
  text-align: center;
}

.image-wrapper .image {
  margin: 0 auto;
  height: 240px;
  width: 240px;
}

.image-wrapper p {
  margin: 0 auto;
}

.ccard-main {
  text-align: center;
  margin: 20px;
}

.ccard-main .ccard {
  height: 140px;
  width: 140px;
  background: white;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 10px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  will-change: transform;
  -webkit-box-shadow: 0 0 2px silver;
          box-shadow: 0 0 2px silver;
}

.hr {
  margin: 0.5rem auto;
  width: 60%;
  background-color: #272626;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 8px 8px 16px black;
          box-shadow: 8px 8px 16px black;
  width: 80%;
  margin: 2rem 1rem;
  padding: 1rem 1rem;
}

.links-container img {
  width: 82%;
  /* height: 16rem; */
  border: 2px solid silver;
  overflow: hidden;
}

.links-container .links-container-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 6rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#56b0fd94), to(#3a7bd5));
  background: linear-gradient(to top, #56b0fd94, #3a7bd5);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0, 4s ease-in-out;
  transition: all 0, 4s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7dbc94), to(#0951b6));
  background: linear-gradient(to bottom, #3e7dbc94, #0951b6);
}
/*# sourceMappingURL=style.css.map */