.wrapper {
  // background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
  // background-color: white;
  // padding: 0.5rem;
  // margin-top: 4rem;

  .container {
    width: 90%;
    margin: 0 auto;
    .caption {
      display: flex;
      justify-content: space-around;
      // align-items: center;
      margin: 0 auto;

      @include for-tablet-portrait-up() {
        flex-direction: column;
      }
      p {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }

      // .para {
      //   width: 100%;
      // }
      // .img {
      //   margin: 0 0.2rem;
      //   padding: 0 8px;
      // }
    }
    // .para {
    //   margin: 0 auto;
    //   width: 90%;
    // }
  }
}
