.wrapper {
  // background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
  // background-color: white;
  // padding: 0.5rem;
  // margin-top: 4rem;

  .container {
    width: 90%;
    margin: 0 auto;
    .caption {
      display: flex;
      justify-content: space-around;
      // align-items: center;
      margin: 0 auto;

      @include for-tablet-portrait-up() {
        flex-direction: column;
      }
      p {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
  .experience-img {
    // width: 400px;
    img {
      width: 100%;
      border-radius: 12px;
      cursor: pointer;

      @include at-900px {
        border-radius: 50%;
        height: 400px;
        width: 400px;
        margin: 10px auto 20px;
        display: block;
      }
      @include for-tablet-portrait-up() {
        height: 200px;
        width: 200px;
        margin: 10px auto 10px;
      }

      &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;

        @include at-900px {
          transform: scale(1);
        }
      }
    }
  }

  .experience {
    .stack-wrap {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .stack-pill {
        background-color: #483285;
        margin: 6px 4px;
        padding: 4px 16px;
        border-radius: 20px;
        line-height: 18px;
        font-size: 12px;
        max-width: fit-content;
        list-style: none;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #32235a;
          transform: scale(1.4);
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
