.home {
  // color: white;
  // width: 100%;
  // height: 100%;
  // position: relative;
  // z-index: 1;
  // margin: 0.2rem;
  // margin-top: 4rem;
  // padding: 0.5rem;

  @include at-900px() {
    flex-direction: column;
  }
  margin: auto;

  .right {
    // width: 50%;
    // margin: 0.8rem auto;
    @include at-900px() {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .interest-wrap {
    @include for-tablet-portrait-up {
      justify-content: center;
      align-items: center;
    }
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
  object-fit: cover;
  background: linear-gradient(
    to left,
    rgba(188, 62, 174, 1) 30%,
    rgb(72, 50, 133, 1) 70%
  );
}

.top-section {
  // background-image: url(../images/layered-waves-second.svg);
  border-radius: 0 0 12px 12px;
}

.roaming-img {
  position: relative;
  display: flex;
  justify-content: center;

  .blue-sphere {
    height: 500px;
    width: 500px;
    position: relative;
    // background-image: url(../images/blob.svg);
    background-repeat: no-repeat;
    background-position: 0% 40%;
    // filter: drop-shadow(0 0 80px #000ce8aa);
    background-size: contain;
    animation: move 5s infinite; /* 2 seconds duration, infinite loop */
    transition: transform 0.8s ease-in; /* Smooth transition */
  }
  .profile-pic {
    cursor: pointer;
    height: auto;
    width: 300px !important;
    object-fit: cover;
    position: absolute;
    top: 120px;
    // filter: drop-shadow(0 0 80px #000ce8aa);

    @include at-900px {
      // border-radius: 50%;
      height: 400px;
      width: 400px;
      margin: 10px auto 20px;
      display: block;
      top: 30px;
    }
    @include for-tablet-portrait-up() {
      height: auto;
      width: 200px;
      margin: 10px auto 10px;
      top: 120px;
    }

    &:hover {
      @include at-900px {
        transform: scale(1);
      }
    }
  }
}

@keyframes move {
  0%,
  10% {
    transform: translateX(0);
    background-image: url(../images/blob.svg);
    filter: drop-shadow(0 0 80px #000ce8aa);
  }
  25% {
    transform: translate(10px, 10px), rotate(45deg);
  }
  50% {
    transform: translate(10px, 10px);
    transform: scale(1.1);
    background-image: url(../images/blob-another.svg);
    filter: drop-shadow(0 0 80px #000ce8aa);
  }
  75% {
    transform: translate(-10px, -10px), rotate(0deg);
  }
  100% {
    transform: translate(0, 0);
    transform: scale(1);
    background-image: url(../images/blob-another.svg);
    filter: drop-shadow(0 0 80px #000ce8aa);
  }
}
