.home {
  color: white;
  width: 100%;
  height: 100%;

  // .heroSection {
  //   // overflow: hidden;
  //   // position: relative;
  //   // .background {
  //   //   position: fixed;
  //   //   left: 0;
  //   //   top: 0;
  //   //   width: 100vw;
  //   //   height: 100vh;
  //   //   z-index: -1;
  //   //   object-fit: cover;
  //   // }
  // }

  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  z-index: 1;
  margin: 0.2rem;
  margin-top: 4rem;
  padding: 0.5rem;

  @include at-900px() {
    flex-direction: column;
  }
  margin: auto;

  .right {
    // width: 50%;
    // margin: 0.8rem auto;
    @include at-900px() {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .interest-wrap {
    @include for-tablet-portrait-up {
      justify-content: center;
      align-items: center;
    }
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
  object-fit: cover;
  background: linear-gradient(
    to left,
    rgba(188, 62, 174, 1) 30%,
    rgb(72, 50, 133, 1) 70%
  );
}

.experience-img {
  // width: 400px;
  img {
    width: 100% !important;
    cursor: pointer;
    width: 100% !important;
    height: 400px;
    object-fit: cover;
    border: 1px solid white;

    @include at-900px {
      // border-radius: 50%;
      height: 400px;
      width: 400px;
      margin: 10px auto 20px;
      display: block;
    }
    @include for-tablet-portrait-up() {
      height: 200px;
      width: 200px;
      margin: 10px auto 10px;
    }

    &:hover {
      transform: scale(1.1);
      transition: all 0.4s ease-in-out;

      @include at-900px {
        transform: scale(1);
      }
    }
  }
}
