.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    background: linear-gradient(
      to right,
      rgba(236, 56, 188, 0.1),
      rgba(0, 12, 232, 0.4)
    ) !important;
    padding-bottom: 14px;
    font-family: $merriweather !important;

    &:hover {
      background: rgba(0, 12, 232, 0.4) !important;
      // .stack-pill {
      //   border: 1px solid black;
      // }
    }
    .card-body {
      padding: 14px 10px 8px;
      font-family: $merriweather !important;
      .card-title {
        font-size: 16px;
        line-height: 18px;
        min-height: 28px;
      }
      // .created {
      //   font-family: $baseFont !important;
      // }
      .description {
        font-size: 12px !important;
        font-family: $merriweather !important;
      }
      .stack-pill {
        font-size: 12px !important;
        font-weight: 700;
      }
      // .card-stack {
      //   margin-bottom: 0 !important;
      // }
    }
    .card-footer {
      padding: 0px 10px;
      .btn {
        font-size: 14px !important;
        // margin: 0;
      }
    }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 18px !important;
  padding: 10px auto !important;
}

.tab_label {
  font-size: 15px !important;
  color: white !important;
  padding: 10px 10px !important;
  min-width: 40px !important;
}
