.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    background: linear-gradient(
      to right,
      rgba(236, 56, 188, 0.1),
      rgba(0, 12, 232, 0.4)
    ) !important;

    &:hover {
      background: rgba(0, 12, 232, 0.4) !important;
      .stack-pill {
        border: 1px solid black;
      }
    }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 14px !important;
  padding: 10px auto !important;
}
