// .skill-wrapper {
// text-align: center;
// margin: 0 auto;
// background-color: white;
// background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
// margin-top: 4rem;

.skillBox {
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  // @include for-tablet-portrait-up() {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }
}
