// .skill-wrapper {
// text-align: center;
// margin: 0 auto;
// background-color: white;
// background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
// margin-top: 4rem;

.skillBox {
  margin: 10px auto 26px;
  display: flex;
  justify-content: start;
  // align-items: center;
  flex-wrap: wrap;
  min-height: 300px;

  @include at-900px {
    min-height: auto;
  }
}
