.carousel {
  width: 100% !important;
  position: relative;
  .carousel-inner {
    .carousel-item {
      transition: transform 0.2s ease;

      img {
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    height: 42px;
    position: absolute;
    bottom: 42px;
    top: inherit;
    // filter: drop-shadow(0 0 80px #000ce8aa);
    box-shadow: 4px 4px 20px #000ce8aa;

    &:hover {
      box-shadow: 2px 2px 6px #000ce8aa;
    }
  }
  .carousel-indicators {
    margin: 0px;

    .active {
      background-color: rgba(188, 62, 174);
    }
    button {
      background-color: white;
      opacity: 1 !important;
    }
  }
  .carousel-caption {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    top: -10px !important;
    padding: 10px 0 10px !important;
    margin-top: 20px;
    filter: drop-shadow(0 0 80px #000ce8aa);
    h5 {
      font-size: 16px !important;
    }
  }
}
