.lang-switch {
  .css-6hp17o-MuiList-root-MuiMenu-list {
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
      .flag {
        max-width: 25px;
        height: auto;
        margin-right: 4px;
        border-bottom: 1px solid black;
      }
    }
  }
}
.MuiMenu-paper {
  width: 80px !important;
}
