.lang-switch {
  .css-6hp17o-MuiList-root-MuiMenu-list {
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
      // .flag {
      //   max-width: 25px;
      //   height: auto;
      //   margin-right: 4px;
      //   border-bottom: 1px solid black;
      // }
    }
  }
}
.lang-text {
  font-size: 12px !important;
}
.MuiMenu-paper {
  width: 80px !important;
}
.rotate {
  display: inline-block;
  animation: infiniteRotate 14s linear infinite;
  transform-style: preserve-3d;
}
@keyframes infiniteRotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
