.lang-switch {
  .css-6hp17o-MuiList-root-MuiMenu-list {
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
      .flag {
        max-width: 25px;
        height: auto;
        margin-right: 4px;
        border-bottom: 1px solid black;
      }
    }
  }
}
.MuiMenu-paper {
  width: 80px !important;
}
.rotate {
  display: inline-block;
  animation: infiniteRotate 14s linear infinite;
  transform-style: preserve-3d;
}
@keyframes infiniteRotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
