.modal-content {
  background: linear-gradient(to right, #159957, #155799);
  border: 1px solid black;
  border-radius: 12px !important;
  box-shadow: 0px 0px 26px #000ce8aa;
  background-clip: inherit;

  .form-label {
    color: white;
    margin-bottom: 2px !important;
  }
  li {
    color: white;
  }

  .btn-bg {
    transform: scale(1) !important;
  }
  .btn-close {
    filter: invert(1);
  }
}
