@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Indie+Flower&family=Londrina+Sketch&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// font-family: "Montserrat", sans-serif;
// font-family: "Playfair Display", serif;
// font-family: "Indie Flower", cursive;

$headFont: "Playfair Display", serif;
$regular: "Montserrat", sans-serif;
$cursive: "Indie Flower", cursive;
$white: #ffffff;

// theme colors
$gradient-background-primary: linear-gradient(to right, #159957, #155799);
$gradient-background-secondary: linear-gradient(to right, #3ca55c, #b5ac49);
$theme-green: #159957;
$theme-blue: #155799;
$theme-yellow: #b5ac49;

// ----*Media*---------
@mixin xl-1399px {
  @media (max-width: 1399px) {
    @content;
  }
}
@mixin lg-1199px {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin at-900px {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mid {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 426px) {
    @content;
  }
}
// -----------------
@mixin font-big {
  font-size: 50px;
  font-weight: normal;
  line-height: 60px;
  font-style: normal;
  font-family: $headFont;

  @include at-900px {
    font-size: 40px;
    line-height: 50px;
  }
  @include mid {
    font-size: 30px;
    line-height: 38px;
  }
}

@mixin font-semi-big {
  font-size: 48px;
  font-weight: normal;
  line-height: 57px;
  font-style: normal;
  font-family: $headFont;

  @include at-900px {
    font-size: 38px !important;
    line-height: 48px !important;
  }
  @include mid {
    font-size: 28px !important;
    line-height: 38px !important;
  }
}
@mixin font-mid {
  font-size: 28px;
  font-weight: normal;
  line-height: 33px;
  font-style: normal;
  font-family: $headFont;

  @include at-900px {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  @include mid {
    font-size: 22px !important;
    line-height: 28px !important;
  }
}
@mixin font-semi-mid {
  font-size: 22px;
  font-weight: normal;
  line-height: 38px;
  font-style: normal;
  font-family: $headFont;

  @include at-900px {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  @include mid {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}
@mixin font-para {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  font-family: $regular;

  @include at-900px {
    font-size: 17px !important;
    line-height: 26px !important;
  }
  @include mid {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
@mixin small-description {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

@import "_navbar.scss";
@import "_about.scss";
@import "modal.scss";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: black;
  cursor: drop-shadow(0 0 40px rgba(0, 12, 232, 0.667)) !important;
  cursor: url("../images/cursor.png") 16 16, auto !important;
}

.dark-bg {
  background: white;
  transition: 0.6s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  .tab_label,
  span,
  p {
    color: black !important;
  }

  .logo-image-second {
    @include at-900px() {
      filter: invert(1);
    }
  }

  .Typewriter__wrapper {
    background: $gradient-background-primary;
    -webkit-background-clip: text;
    color: transparent !important;
  }

  .form-wrap {
    background: $theme-blue !important;
    label,
    h3 {
      color: $white !important;
    }
  }

  .multi-colored-text {
    color: black;
  }

  .colored-pill {
    color: white !important;
  }

  .btn-bg {
    span {
      color: white !important;
    }
  }

  .school {
    box-shadow: -5px 8px 12px rgba(159, 177, 212, 0.6) !important;
    background: linear-gradient(to right, #159957, #155799) !important;
    h4,
    p,
    .colored-text {
      color: #ffffff !important;
      background: linear-gradient(to right, #159957, #155799) !important;
      -webkit-background-clip: text !important;
    }
  }
  .colored-text {
    color: transparent !important;
    background: linear-gradient(to right, #159957, #155799) !important;
    -webkit-background-clip: text !important;

    //     background: linear-gradient(to right, #159957, #155799);
    // -webkit-background-clip: text;
    // color: transparent !important;
  }

  .accordion-button {
    h2 {
      color: $white !important;
    }
  }
  .ExperienceBlock {
    h3,
    li,
    p {
      color: $white !important;
    }
  }

  .ccard {
    background: white;
    filter: none !important;
  }
  .accordion .accordion-button::after {
    filter: none;
  }
  .bread-crumb {
    a {
      color: black !important;
      font-weight: 500 !important;
      @include small-description;
    }
  }

  .btn {
    span {
      color: white !important;
    }
  }

  .header-pic {
    filter: none !important;
  }
  .experience {
    filter: none !important;
    background-color: white;
  }
  .Navbar-wrap {
    position: relative;
    box-shadow: none !important;
  }

  #about,
  #repositories {
    box-shadow: 0px 0px 29px rgb(21, 87, 153, 30%);
    background: $white;
  }

  .MuiTabs-indicator,
  .css-1aquho2-MuiTabs-indicator {
    // border-radius: 12px !important;
    z-index: 1 !important;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
  .css-1q2h7u5 {
    height: 36px;
    border-radius: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: black !important;
  }
  .Mui-selected {
    z-index: 2;
    color: white !important;
    transition: all 0.3s ease-out;
  }

  //   .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
  // .css-1q2h7u5

  .project-wrapper,
  .project-details {
    .card {
      background: white !important;
      border: none;
      box-shadow: -5px 8px 12px #9fb1d499;
      &:hover {
        filter: none;
        background: white !important;
        box-shadow: 8px 8px 20px #2c5364;
      }

      .card-title {
        color: black !important;
        text-shadow: none;
      }
      .stack-pill,
      .btn {
        color: white !important;
        box-shadow: none;
      }
    }
  }
}

.project-details {
  h1 {
    margin-bottom: 30px;
  }

  .tech-stack {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .updated {
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .line {
    margin-top: 30px;
  }
}

.link {
  font-family: $regular !important;
  text-decoration-color: white;
  background: $gradient-background-secondary;
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
  cursor: pointer;
}

.head {
  text-align: center;
  font-weight: 600;
  // text-shadow: 1px 1px 2px black;
  // @include for-tablet-portrait-up() {
  //   font-size: 1.8rem;
  //   margin: 0.5rem 0;
  // }

  .heading {
    font-weight: 700;
    @include font-semi-big;

    // padding: 0.5rem 0;
    // @include for-tablet-portrait-up() {
    //   font-size: 1.8rem;
    //   margin: 0.5rem 0;
    // }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  color: $white;
}

// a {
//   font-size: 18px;
//   line-height: 28px;
// }

img {
  border-radius: 8px;
}

button,
a,
.btn {
  font-family: $regular !important;
  font-size: 16px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  width: max-content;
  text-transform: capitalize !important;
  padding: 0.2rem 0;
  @include small-description;
}

.section-padding-top {
  padding-top: 60px;

  @include at-900px() {
    padding-top: 40px;
  }

  @include for-tablet-portrait-up() {
    padding-top: 30px;
  }
}
.section-padding-bottom {
  padding-bottom: 60px;

  @include at-900px() {
    padding-bottom: 40px;
  }

  @include for-tablet-portrait-up() {
    padding-bottom: 30px;
  }
}

.bread-crumb {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 16px;
  a {
    @include small-description;
    font-weight: 400 !important;

    @include for-tablet-portrait-up() {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.colored-pill {
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799);
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
}

.ccard-main {
  text-align: center;
  margin: 12px 16px;

  @include for-tablet-portrait-up() {
    margin-top: 16px;
  }
  p {
    @include small-description;
    font-weight: 400;
    margin-top: 8px;
  }

  .ccard {
    width: 45px;
    height: 45px;
    filter: drop-shadow(0 0 80px #000ce8aa);
    border-radius: 12px;
    padding: 5px;
    object-fit: contain;

    &:hover {
      filter: drop-shadow(0 0 40px #000ce8aa);
    }
  }
}

// ------Divider hr Component--------
.hr {
  margin: 0.5rem auto;
  width: 60%;
  background: #159957;
  border: 1px solid #159957 !important;
  opacity: 1 !important;
}

// --------Scroll bar------

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.css-1q2h7u5 {
  // @include small-description;
  font-weight: 600 !important;
  color: $white !important;
  border-radius: 12px !important;
  width: max-content;
  // color: white !important;
}

.MuiTabs-indicator,
.css-1aquho2-MuiTabs-indicator {
  border-radius: 12px !important;
  z-index: -1;
  height: 45px !important;
  bottom: 1px !important;
  background: $gradient-background-secondary !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0, 4s ease-in-out;
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
}

.wrapper {
  margin-top: 7rem;
}

.css-heg063-MuiTabs-flexContainer {
  @include for-tablet-portrait-up() {
    flex-direction: column !important;
  }
}

.button {
  background-color: #fc3845 !important;
}

.app {
  padding-top: 38px;
  // padding-bottom: 120px;

  overflow-x: hidden;
}

.stack-pill {
  background: $theme-yellow;

  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: none;

  &:hover {
    background: $theme-blue;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
  }
}

.card {
  position: relative;
  background: transparent;
  padding-bottom: 10px;
  overflow-x: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  // box-shadow: 4px 4px 60px $theme-green;

  &:hover {
    background-color: $theme-green;
    filter: drop-shadow(0 0 40px $theme-green);
    transition: all 0.3s ease-in-out;

    .btn,
    .stack-pill {
      box-shadow: 4px 4px 12px black;
      transition: all 0.3s ease-in-out;
    }
    .card-title {
      text-shadow: 4px 4px 12px black;
      text-decoration: underline;
    }
    .img-wrap {
      img {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @include at-900px() {
    min-width: auto;
  }

  @include for-tablet-portrait-up() {
    margin: auto;
    min-width: auto;
  }

  .img-wrap {
    height: 160px;
    overflow: hidden;
    img {
      object-fit: cover !important;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card-title {
    color: white !important;
  }
  .created {
    font-size: 12px;
    line-height: 22px;
    font-family: $headFont;
  }
  .description {
    font-size: 14px;
    line-height: 18px;
  }

  .card-stack {
    margin: 6px 0 6px;
  }
  .desc-list {
    padding-left: 0 !important;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 6px;
      width: fit-content;
      margin-right: 10px;
    }
  }

  .card-btns {
    cursor: pointer;
    transform: scale(1);
    border: none;
    border-radius: 22px;
    .more {
      text-decoration: none;
    }
  }
}

// ----Arrow slide-----
a,
button,
.btn {
  transition: 0.1s ease-in;
  &:hover {
    .arrow {
      transform: translateX(50%);
    }
  }
}

.arrow {
  margin-left: 6px;
  filter: invert(1);
  transition: 0.1s ease-in;
}
// ------
.scroll-link {
  color: white !important;
  border: none;
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.btn-bg {
  color: white !important;
  border: none;
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799);
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  &:hover {
    transform: scale(1.1);
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
    transition: all 0.3s ease-out;
  }
}

// -----details--------------
.details-img-wrap {
  position: relative;

  .details-image-wrap {
    height: 450px;
    width: 450px;
    padding-bottom: 20px;

    @include at-900px() {
      width: 100%;
      height: auto;
    }

    .details-image {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
      transition: transform 0.8s;
      height: auto;
      max-height: 600px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 9;

      @include at-900px() {
        height: 400px !important;
        transform: scale(1);
      }

      &:hover {
        height: auto;
        overflow: auto;
      }
    }
  }

  .zoom {
    transform: scale(1.6) translate(30%, 30%);
    @include at-900px() {
      transform: scale(1.1);
    }
  }
}

.accordion {
  .accordion-item {
    border: none !important;
    background: transparent;
    .accordion-button {
      box-shadow: none !important;
      background: $gradient-background-primary !important;
      border-radius: 12px 12px 0px 0px !important;

      .collapsed {
        &:hover {
          background: linear-gradient(
            to left,
            #483285 30%,
            rgba(188, 62, 174, 0.5803921569) 70%
          );
          transition: all 0.3s ease-in-out;
        }
      }
      &:not(.collapsed) {
        box-shadow: none !important;
        background: transparent;
        &::after {
          background-image: url("../images/angle-circle-arrow-up-icon.svg") !important;
          transform: scale(1.6);
          transition: all 0.3s ease-in-out;

          @include at-900px() {
            transform: scale(1.2);
          }
        }
      }
      &::after {
        background-image: url("../images/angle-circle-arrow-down-icon.svg") !important;
        transform: scale(1.6);
        filter: invert(100%);
        transition: all 0.3s ease-in-out;

        @include at-900px() {
          transform: scale(1.2);
        }
      }

      h2 {
        font-family: $regular !important;
        @include font-para;
        font-weight: 500;

        // @include at-900px() {
        //   font-size: 24px !important;
        //   line-height: 30px !important;
        // }
        @include for-tablet-portrait-up() {
          // font-size: 18px !important;
          // line-height: 24px !important;
          margin: 0.5rem 0;
        }
      }
    }

    .accordion-body {
      background: #161d26;
      border: 1px solid #161d26;
      border-radius: 0px 0px 12px 12px;
    }
  }
  .heading {
    @include at-900px() {
      font-size: 22px;
    }
  }
}

.accordion-item:last-child {
  border-radius: 12px !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg) !important;
  --bs-tooltip-color: var(--bs-white) !important;
}

.modal-backdrop {
  z-index: 9999999 !important;
  height: auto !important;
}

.project-details {
  .react-multi-carousel-list {
    padding-bottom: 60px;
    padding-left: 0 !important;

    li {
      margin-right: 12px;
      @include at-900px() {
        margin-right: 0;
      }
    }
  }
}

.react-multi-carousel-item {
  justify-content: center !important;
  display: flex;
}
.react-multi-carousel-list {
  padding-bottom: 60px;
  padding-left: 0 !important;

  .react-multi-carousel-dot--active {
    color: $theme-blue;
    button {
      background: $theme-green !important;
      width: 34px;
      height: 12px;
      border-radius: 8px;
      border-color: $theme-green !important;
      transition: initial 0.3s ease;
    }
  }

  .react-multiple-carousel__arrow {
    border-radius: 10px;
    border: 1px solid $theme-green !important;

    &:hover {
      border: 1px solid white !important;
    }
  }

  .react-multi-carousel-dot-list {
    bottom: 0px;
  }
}

.form-select {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 18px;
  width: 60px;
}

// .css-1aquho2-MuiTabs-indicator,
// .MuiTabs-indicator {
//   // background-color: $theme-yellow !important;
//   background-color: $theme-green !important;
//   height: 4px !important;
//   padding: 2px !important;
// }

.colored-text {
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 64, 247),
    rgba(236, 56, 188, 1)
  );
  background: $gradient-background-primary;
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
}

.zoom-image {
  transition: all 0.6s ease;
  z-index: 9;
  &:hover {
    transform: scale(1.4);
  }
}

// -------------
section {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9px;
  background: $gradient-background-primary;
  transform-origin: 0%;
  z-index: 999;
}

.Typewriter {
  display: inline-block;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgb(255, 35, 229);
}

h1,
h2,
h3,
h4,
h5 {
  span {
    .Typewriter__wrapper {
      font-family: $headFont;
    }
  }
}

// .cursive {
//   span {
//     .Typewriter__wrapper {
//       font-family: $merriweather;
//     }
//   }
// }

.multi-colored-text {
  display: flex;
  align-items: center;
  color: white;
  span {
    // font-family: $cursive;
    font-weight: 300 !important;
    background: linear-gradient(to right, #159957, #155799);

    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: moveGradient 5s ease infinite;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%; // Start from the left
  }
  100% {
    background-position: 100% 50%; // Move to the right
  }
}

// --*ExperienceBlock*--
.ExperienceBlock {
  padding: 16px;
  background: #1f2935;
  margin-bottom: 20px;
  border-radius: 12px;

  &::before {
    content: "";
    background-color: $theme-green;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 50px;
    position: absolute;
    left: 206px;

    @include xl-1399px {
      left: 176px;
    }
    @include lg-1199px {
      left: 147px;
    }

    @include at-900px {
      left: -13px;
    }

    @include mid {
      left: -2px;
    }
  }

  h3 {
    font-family: $regular !important;
    font-weight: 600 !important;
    @include font-semi-mid;
    background: $gradient-background-primary !important;
    padding: 12px 8px;
    border-radius: 12px;
  }

  .responsibility-label {
    @include font-para;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  .responsibilities,
  p {
    @include font-para;
    font-family: $regular;
    margin-bottom: 0 !important;
  }
  .colored-pill {
    font-size: 14px;
    font-weight: 500;
  }
}

.stack-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

// ------Panda--------

.panda {
  position: relative;

  .panda-left-eye,
  .panda-right-eye {
    position: absolute;
    // border-radius: 50%;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform 0.1s ease-out;
    left: 116px;
    top: 83px;
  }
  .panda-right-eye {
    left: 152px;
    top: 83px;
  }

  .panda-body {
    width: 300px;
    height: 300px;
  }
}

// -----------------Tech stack------------
.texh_stack {
  .css-1aquho2-MuiTabs-indicator,
  .MuiTabs-indicator {
    background-color: $theme-green !important;
    height: 20% !important;
    filter: drop-shadow(0 0 40px $theme-green);
  }

  .css-lfwcke-MuiTabs-flexContainer {
    @include at-900px {
      flex-direction: row !important;
      overflow-y: scroll;
    }
  }

  h3 {
    margin-top: 19px;
    margin-bottom: 26px;
  }
}

.skillBox {
  margin: 10px auto 26px;
  display: flex;
  justify-content: start;
  // align-items: center;
  flex-wrap: wrap;
  min-height: 300px;

  @include at-900px {
    min-height: auto;
  }
}

// -------------**Hero section**-------------

.hero_home {
  padding-top: 122px !important;
  padding-bottom: 62px !important;
  align-items: center;
  overflow: hidden;

  @include at-900px {
    padding-top: 90px !important;
    padding-bottom: 40px !important;
  }
  @include mid {
    padding-left: 12px;
    padding-right: 12px;
  }

  h1 {
    font-weight: 700;
    @include font-big;
    font-weight: 700;
    font-style: normal;
    margin-top: 23px !important;
    margin-bottom: 18px !important;
  }

  .type-intro {
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    font-weight: 700;
    font-family: $cursive;
  }

  .type-intro-second {
    font-size: 22px;
    font-weight: normal;
    line-height: 34px;
    font-weight: 500;
    font-family: $cursive;
  }

  p {
    color: white;
    @include font-para;
    font-weight: 400;
  }
  .description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }

  .img-wrap {
    position: relative;

    .rectangle {
      img {
        width: 150%;
        position: absolute;
        top: -310px;
        z-index: 9;
        transform: rotate(30deg);
        left: 94px;

        @include lg-1199px {
          left: 72px;
        }
      }
    }

    .hero-img {
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      z-index: 99;
      position: relative;
      top: -73px;

      @include xl-1399px() {
        width: 280px;
        height: 280px;
      }
      @include lg-1199px {
        width: 240px;
        height: 240px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: -5px 4px 8px white;

        @include xl-1399px {
          margin-top: -36px !important;
        }
        @include lg-1199px {
          margin-top: -72px !important;
        }
      }
    }
  }
}

// ----------------*About Section*--------------

.small-intro {
  @include small-description();
  font-weight: 600;
  margin-bottom: 30px !important;
  margin-top: 19px;
}

li::marker {
  color: #b5ac49;
  font-size: 25px;
}

.about {
  padding-top: 60px;
  padding-bottom: 100px;
  transform: skewY(8deg);

  @include at-900px {
    padding-bottom: 80px !important;
  }
  @include mid {
    padding-left: 24px;
    padding-right: 24px;
  }

  .inner-wrap {
    padding-top: 70px;

    .about-img {
      // width: 350px;
      width: 100%;
      height: 448px;
      margin-left: auto;
      margin-right: auto;

      @include lg-1199px() {
        // width: 100%;
        height: 280px;
        margin-bottom: 40px;
      }
      @include mid {
        width: 100%;
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .about-text-wrap {
      // padding-left: 36px;

      // @include at-900px {
      //   padding-left: 0px;
      //   padding-right: 0px;
      // }

      h2 {
        @include font-mid;
        padding-top: 56px;
        padding-bottom: 22px;
        margin-bottom: 0 !important;
      }
      .bullet-head {
        padding-top: 70px;
        padding-bottom: 18px;
        margin-bottom: 0 !important;
      }
      li {
        @include font-para;
      }
      p {
        @include font-para;
        margin-bottom: 0 !important;
      }
    }
  }
  .academy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;

    h2 {
      @include font-mid;
      margin-bottom: 26px;
    }

    .academy-inner {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: start;

      @include mid {
        padding-left: 12px;
        padding-right: 12px;
      }
      .school {
        padding-top: 70px;
        padding: 16px;
        border-radius: 12px;
        background: #161d26;
        box-shadow: 0 0 2px black;

        @include lg-1199px {
          margin-top: 12px;
        }

        &:hover {
          box-shadow: 1px 1px 8px $theme-green;
        }

        h4 {
          font-size: 22px;
          line-height: 26px;
          font-family: $regular !important;
        }
      }
    }
  }

  .css-j7qwjs {
    align-items: center !important;
  }
  .tech-wrap {
    padding-top: 110px;

    h2 {
      @include font-mid;
      font-family: $regular;
    }
    h3 {
      @include font-para;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .texh_stack .MuiTabs-indicator,
  .texh_stack .css-1aquho2-MuiTabs-indicator {
    border-radius: 12px;
    z-index: -1;
    height: 46px !important;
    bottom: 8px !important;
    background: $gradient-background-secondary;
    width: 100% !important;
  }
}

// ----------------*Experience*-----------------

.exp_section {
  position: relative;
  padding-bottom: 62px;
  padding-top: 62px !important;

  @include at-900px {
    padding-top: 80px;
    padding-bottom: 80px !important;
  }
  @include mid {
    padding-left: 24px;
    padding-right: 24px;
  }

  .border-left {
    border-left: 2px solid $theme-green;
    // margin-left: 12px !important;
    margin-top: 70px;

    @include at-900px {
      margin-top: 20px !important;
    }
  }
  .about-link {
    text-align: center;
    padding-top: 70px;
    text-decoration: none;

    @include at-900px {
      padding-top: 20px !important;
    }
  }

  .experience-wrap {
    h2 {
      @include font-mid;
    }

    .experience {
      padding-top: 70px;
      @include at-900px {
        padding-top: 20px !important;
      }
    }
  }
}

.exp_page {
  .ExperienceBlock {
    &::before {
      display: none;
    }
  }
}
// ------------*project*-----------

.project-wrapper {
  padding-top: 122px;
  padding-bottom: 60px;
  transform: skewY(8deg);

  @include at-900px {
    padding-top: 60px;
    padding-bottom: 80px !important;
  }
  @include mid {
    padding-left: 24px;
    padding-right: 24px;
  }

  .project-inner {
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include at-900px {
      padding-top: 20px !important;
    }
  }

  .repos {
    padding-top: 40px;
    padding-bottom: 80px;

    @include at-900px {
      padding-bottom: 0px !important;
    }
  }
}

// -----------*Contact*-------

// form---

.dot {
  height: 50px;
  width: 50px;
  background-color: rgba(188, 62, 174, 1);
  border-radius: 50%;
  margin-right: 5px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.contact {
  padding-top: 62px;

  .contact-inner {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 40px;
  }

  .form-wrap {
    padding: 30px;
    background-color: #1f2935;
    border-radius: 12px;
    max-width: 550px;

    @include sm {
      max-width: 350px;
    }

    label {
      color: $theme-green;
    }

    button {
      margin-top: 24px;
    }
  }
}

// --------*Footer*------------------

.footer {
  // margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1f2935;
  width: 100%;

  // @include at-900px {
  //   margin-top: 122px;
  // }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .small-intro {
      margin-bottom: 0 !important ;
      margin-top: 0 !important;
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mid {
      margin-top: 20px;
    }

    a {
      width: 30px;
      height: 30px;
      background: $gradient-background-primary;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      transition: all 0.3s ease-out;

      &:hover {
        background: $gradient-background-secondary;
        color: white;
      }
    }
  }

  p {
    @include small-description;
  }
}

.line {
  // background: $theme-green;
  border: 1px solid $theme-green;
  height: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  img {
    // position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
}

.up-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4%;
  bottom: 10%;
  background-color: $theme-blue;
  color: $white;
  border-radius: 50%;
  z-index: 99;
  padding: 6px;
  height: 50px;
  width: 50px;
  // animation: wave 2s ease-in-out infinite;

  .MuiSvgIcon-root,
  .css-i4bv87-MuiSvgIcon-root {
    height: 40px;
    width: 40px;
    // animation: arrow 2s ease-in-out infinite;
  }
}

// -----------------------
.down-button {
  width: auto;
  border-radius: 50%;
  background: $theme-blue;
  border: none;
  color: white;
  padding: 6px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wave 2s ease-in-out infinite;

  .MuiSvgIcon-root,
  .css-i4bv87-MuiSvgIcon-root {
    height: 30px;
    width: 30px;
    object-fit: cover;
    animation: arrow 2s ease-in-out infinite;
  }
}
@keyframes wave {
  0% {
    filter: drop-shadow(0px 0px 12px $theme-blue);
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0px 0px 12px $theme-green);
    transform: scale(1.1);
    padding-top: 4px;
  }
  100% {
    filter: drop-shadow(0px 0px 30px $theme-yellow);
    transform: scale(1);
  }
}
@keyframes arrow {
  0% {
    filter: drop-shadow(0px 0px 12px $theme-green);
    transform: scale(1);
    margin-top: 0px;
  }
  50% {
    filter: drop-shadow(0px 0px 12px $theme-green);
    transform: scale(1.1);
    margin-top: 4px;
  }
  100% {
    filter: drop-shadow(0px 0px 12px $theme-green);
    transform: scale(1);
    margin-top: 0px;
  }
}

// ---------------

#about,
#repositories {
  transform: skewY(-8deg);
  background: linear-gradient(to left, #161d26, rgb(1, 1, 1));
}
