@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Montserrat:wght@300;500;600;700&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@400;500;700&display=swap");

$headFont: "Roboto Serif", serif;
$baseFont: "Montserrat", sans-serif;
$white: #ffffff;
$linear: linear-gradient(to bottom, #3e7dbc94, #0951b6);

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $baseFont;
}
// body {
//   background-repeat: repeat;
//   background-image: url(../images/background.jpg);
//   background-position: top;
//   background-size: cover;
//   // background-position: top left;
// background-blend-mode: luminosity;
// }
body {
  background: black;
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin at-900px {
  @media (max-width: 992px) {
    @content;
  }
}

@import "_navbar.scss";
@import "_home.scss";
@import "_about.scss";
@import "_skills.scss";
@import "_project.scss";

.defaultBg {
  background-color: rgba(188, 62, 174, 0.5803921569);
}

.head {
  text-align: center;
  font-family: $headFont;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
  @include for-tablet-portrait-up() {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  .heading {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-family: $headFont !important;
    text-shadow: 1px 1px 2px black;
    padding: 0.5rem 0;

    @include for-tablet-portrait-up() {
      font-size: 1.8rem;
      margin: 0.5rem 0;
    }
  }
}
// ------H1 Component --------
h1 {
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  font-family: $headFont !important;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 0;
  color: $white;

  @include for-tablet-portrait-up() {
    font-size: 2.1rem;
    margin: 0.5rem 0;
  }
}

h2,
h3,
h4 h5 {
  color: $white !important;
  span {
    margin-right: 5px !important;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;
  color: $white;

  @include for-tablet-portrait-up() {
    font-size: 1rem !important;
  }
}
button,
a,
.btn {
  font-size: 18px;
  line-height: 26px;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;
  color: $white;

  @include for-tablet-portrait-up() {
    font-size: 14px !important;
  }
}
ul {
  li {
    color: $white;
  }
}

a {
  font-size: 18px;
  line-height: 28px;
}

button {
  font-family: $baseFont !important;
  font-size: 16px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  width: max-content;
  text-transform: capitalize !important;

  @include for-tablet-portrait-up() {
    font-size: 12px !important;
    line-height: 22px !important;
  }
}

.animated-background {
  width: auto;
  background: linear-gradient(
    to left,
    rgba(188, 62, 174, 0.5),
    rgb(72, 50, 133, 0.5)
  );
  animation: mymove 0.6s reverse infinite;
}

@keyframes mymove {
  from {
    background: linear-gradient(
      to left,
      rgba(188, 62, 174, 0.5),
      rgb(72, 50, 133, 0.5)
    );
  }
  to {
    background: linear-gradient(
      to left,
      rgb(72, 50, 133, 0.5),
      rgba(188, 62, 174, 0.5)
    );
  }
}

.image-wrapper {
  width: 100%;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;

  .image {
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
  }
}

.ccard-main {
  text-align: center;
  margin: 12px 16px;

  @include for-tablet-portrait-up() {
    margin-top: 16px;
  }
  p {
    font-size: 16px;
  }

  .ccard {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
    // border: none;
    padding: 5px;
    // transition: box-shadow 0.5s;
    // will-change: transform;
    // box-shadow: 0 0 2px silver;
    object-fit: contain;
  }
}

// ------Divider hr Component--------
.hr {
  margin: 0.5rem auto;
  width: 60%;
  // background-color: rgb(39, 38, 38);
  background: white;
  border: 1px solid white !important;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 16px black;
  width: 80%;
  margin: 2rem 1rem;
  padding: 1rem 1rem;

  img {
    width: 82%;
    border: 2px solid silver;
    overflow: hidden;
  }
  .links-container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// --------Scroll bar------

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 6rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0, 4s ease-in-out;
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
}

.wrapper {
  margin-top: 7rem;
}

.css-heg063-MuiTabs-flexContainer {
  @include for-tablet-portrait-up() {
    flex-direction: column !important;
  }
}

.button {
  background-color: #fc3845 !important;
}

.app {
  margin-top: 110px;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;
}

.colored-pill {
  background: linear-gradient(
    to left,
    rgb(72, 50, 133, 1) 30%,
    rgba(188, 62, 174, 1) 70%
  );
  // background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;

  &:hover {
    background: repeating-linear-gradient(135deg, #483285 30%, #bc3eae94 70%);
    transform: scale(1.4);
    transition: all 0.3s ease-out;
  }
}
.stack-pill {
  background-color: #483285;
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #32235a;
    transform: scale(1.4);
    transition: all 0.3s ease-out;
  }
}

.card-link,
.reverseLinks {
  text-decoration: none;

  .card {
    position: relative;
    // background: rgb(0 0 0 / 40%);
    background: transparent;
    padding-bottom: 10px;
    overflow-x: hidden;
    border: 1px solid white;
    border-radius: 12px;

    &:hover {
      background-color: rgb(188, 62, 174, 0.9);
      border: 1px solid rgba(188, 62, 174);
      box-shadow: 6px 6px 23px rgb(0 0 0 / 90%);
      transition: all 0.3s ease-in-out;

      .btn,
      .stack-pill {
        box-shadow: 4px 4px 12px black;
        transition: all 0.3s ease-in-out;
      }
      .card-title {
        text-shadow: 4px 4px 12px black;
      }
      img {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }

    @include at-900px() {
      min-width: auto;
    }

    @include for-tablet-portrait-up() {
      // max-width: 340px !important;
      margin: auto;
      min-width: auto;
    }

    .img-wrap {
      height: 220px;
      overflow: hidden;
      img {
        object-fit: cover !important;
      }
    }

    .card-title {
      color: white !important;
    }
    .created {
      font-size: 12px;
      line-height: 22px;
      font-family: $headFont;
    }
    .description {
      font-size: 14px;
      line-height: 18px;
    }

    .card-stack {
      // max-height: 80px;
      margin: 12px 0 12px;
      // overflow-y: scroll;
      // overflow-x: hidden;
      // padding-bottom: 15px;
    }
    .desc-list {
      padding-left: 0 !important;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 6px;
        width: fit-content;
        margin-right: 10px;
      }
    }

    .card-btns {
      // position: absolute;
      bottom: 20px;
      cursor: pointer;
      transform: scale(1);
      border: none;
      .more {
        text-decoration: none;
      }
    }
  }
}

.btn-bg {
  border: none;
  transition: all 0.4s ease-out;
  background: linear-gradient(
    to left,
    rgba(188, 62, 174, 1) 30%,
    rgb(72, 50, 133, 1) 70%
  );
  border: 2px solid rgb(72, 50, 133, 0.4);

  &:hover {
    background: linear-gradient(
      to left,
      rgb(72, 50, 133, 1) 30%,
      rgba(188, 62, 174, 1) 70%
    );
    border: 1px solid white;
    transform: scale(1.1);
  }
}

.experience {
  background: rgb(0 0 0 / 30%);
  padding: 12px;
  border-radius: 12px;
  border: 1px solid white;
}

// -----details--------------
.details-img-wrap {
  position: relative;

  .details-image {
    width: 100%;
    object-fit: cover;
    transition: transform 0.8s;
    height: auto;
    max-height: 600px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 9;

    @include at-900px() {
      height: 400px !important;
      transform: scale(1);
    }

    &:hover {
      // transform: scale(1.6) translate(30%, 30%);
      height: auto;
      overflow: auto;
      // object-fit: fill;
      // @include at-900px() {
      //   transform: scale(1.1);
      // }
    }
  }

  .zoom {
    transform: scale(1.6) translate(30%, 30%);
    @include at-900px() {
      transform: scale(1.1);
    }
  }
}

.accordion {
  .accordion-button {
    box-shadow: none !important;
    .collapsed {
      &:hover {
        background: linear-gradient(
          to left,
          #483285 30%,
          rgba(188, 62, 174, 0.5803921569) 70%
        );
      }
    }
    &:not(.collapsed) {
      box-shadow: none !important;
      background: transparent;
      &::after {
        background-image: url("../images/angle-circle-arrow-up-icon.svg");
        transform: scale(1.6);
        @include at-900px() {
          transform: scale(1.2);
        }
      }
    }
    &::after {
      background-image: url("../images/angle-circle-arrow-down-icon.svg");
      transform: scale(1.6);
      filter: invert(100%);
      @include at-900px() {
        transform: scale(1.2);
      }
    }
  }
  .heading {
    @include at-900px() {
      font-size: 22px;
    }
  }
}

.accordion-item:last-child {
  border-radius: 12px !important;
  border-top: 1px solid rgba(188, 62, 174, 0.5803921569) !important;
  border-bottom: 1px solid rgba(188, 62, 174, 0.5803921569) !important;
  border: 1px solid rgba(188, 62, 174, 0.5803921569);
  // &:hover {
  //   background: linear-gradient(
  //     to left,

  //     #483285 30%,
  //     rgba(188, 62, 174, 0.5803921569) 70%
  //   );
  // }
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg) !important;
  --bs-tooltip-color: var(--bs-white) !important;
}

.modal-backdrop {
  z-index: 9999999 !important;
  height: auto !important;
}

.reverseLinks {
  color: rgb(244, 244, 244);
  padding: 2px 4px;
  &:hover {
    text-shadow: 1px 1px 2px black;
    background-color: white;
    color: black;
    border-radius: 8px;
  }
}

.project-details {
  .react-multi-carousel-list {
    padding-bottom: 60px;
    padding-left: 0 !important;

    li {
      margin-right: 12px;
      @include at-900px() {
        margin-right: 0;
      }
    }
  }
}
.react-multi-carousel-list {
  padding-bottom: 60px;
  padding-left: 0 !important;

  // li {
  //   margin-right: 5px;
  // }
  .react-multi-carousel-dot--active {
    color: #fc3845;
    button {
      background: rgba(188, 62, 174, 1) !important;
      width: 34px;
      height: 12px;
      border-radius: 8px;
      border-color: rgba(188, 62, 174, 1) !important;
      transition: initial 0.3s ease;
    }
  }

  .react-multiple-carousel__arrow {
    border-radius: 10px;
    border: 1px solid rgba(188, 62, 174) !important;

    &:hover {
      border: 1px solid white !important;
    }
  }

  .react-multi-carousel-dot-list {
    bottom: 0px;
  }
}

.form-select {
  // background-image: none;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 18px;
  width: 60px;
  // color: white;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: rgb(72, 50, 133, 1);
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5px;
  animation: blinking 0.5s linear infinite;
}

@keyframes blinking {
  0% {
    border: 1px solid rgb(72, 50, 133, 1);
  }

  100% {
    border: 1px solid rgb(255, 255, 255);
  }
}

.css-1aquho2-MuiTabs-indicator,
.MuiTabs-indicator {
  background-color: rgba(188, 62, 174, 1) !important;
  height: 4px !important;
}
