@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

// font-family: "Merriweather", serif;
// font-family: "Libre Baskerville", serif;
// font-family: "Lato", system-ui;
// font-family: "Inconsolata", monospace;
// font-family: "Poppins", sans-serif;
// font-family: "Ubuntu", sans-serif;
// font-family: "Playwrite DE Grund", cursive;

$headFont: "Libre Baskerville", serif;
$Poppins: "Poppins", sans-serif;
$cursive: "Playwrite DE Grund", cursive;

// $cursive: "Dancing Script", cursive;
$white: #ffffff;
$linear: linear-gradient(to bottom, #3e7dbc94, #0951b6);

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: black;
  cursor: drop-shadow(0 0 40px rgba(0, 12, 232, 0.667)) !important;
}

.dark-bg {
  background: white;
  transition: 0.6s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  .tab_label,
  span,
  p {
    color: black !important;
  }

  .Typewriter__wrapper {
    background: linear-gradient(
      to left,
      rgba(36, 153, 255, 0.6666666667),
      rgb(255, 35, 229)
    );
    -webkit-background-clip: text;
    color: transparent !important;
  }

  .multi-colored-text {
    color: black;
  }

  .colored-pill {
    color: white !important;
  }

  .ccard {
    background: white;
    filter: none !important;
  }
  .accordion .accordion-button::after {
    filter: none;
  }
  .bread-crumb {
    a {
      color: black !important;
    }
  }

  hr {
    border-color: black !important;
  }

  .btn {
    span {
      color: white !important;
    }
  }

  .header-pic {
    filter: none !important;
  }
  .experience {
    filter: none !important;
    background-color: white;
  }
  .Navbar-wrap {
    position: relative;
    box-shadow: none !important;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
  .css-1q2h7u5 {
    color: black !important;
    border-bottom: 1px solid black;
  }
  .css-1aquho2-MuiTabs-indicator,
  .MuiTabs-indicator {
    background-color: rgb(246, 67, 225) !important;
  }

  .project-wrapper,
  .project-details {
    .card {
      background: white !important;
      border: none;
      box-shadow: -5px 8px 12px #9fb1d499;
      &:hover {
        filter: none;
        background: white !important;
        box-shadow: 8px 8px 20px #2c5364;
      }

      .card-title {
        color: black !important;
        text-shadow: none;
      }
      .stack-pill,
      .btn {
        color: white !important;
        box-shadow: none;
      }
    }
  }
}

@mixin at-900px {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mid {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 425px) {
    @content;
  }
}

@import "_navbar.scss";
@import "_home.scss";
@import "_about.scss";
@import "_skills.scss";
@import "_project.scss";

.cursive {
  font-weight: 700;
  font-optical-sizing: auto;
  font-family: $cursive;
}

.link {
  font-family: $Poppins !important;
  text-decoration-color: white;
  background: linear-gradient(to left, #2499ffaa, rgb(255, 35, 229));
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
  cursor: pointer;
}

.head {
  text-align: center;
  font-weight: 600;
  // text-shadow: 1px 1px 2px black;
  @include for-tablet-portrait-up() {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  .heading {
    font-weight: 700;
    padding: 0.5rem 0;

    @include for-tablet-portrait-up() {
      font-size: 1.8rem;
      margin: 0.5rem 0;
    }
  }
}
// ------H1 Component --------
h1 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700 !important;
  font-family: $headFont !important;
  padding: 0.5rem 0;
  color: $white;

  @include at-900px() {
    font-size: 36px;
    line-height: 42px;
  }

  @include for-tablet-portrait-up() {
    font-size: 28px;
    line-height: 36px;
    margin: 0.5rem 0;
  }
}

h2 {
  font-size: 32px;
  line-height: 38px;
  color: $white !important;
  font-weight: 500;
  font-family: $Poppins !important;
  span {
    margin-right: 5px !important;
  }

  @include at-900px() {
    font-size: 26px;
    line-height: 32px;
  }

  @include for-tablet-portrait-up() {
    font-size: 24px;
    line-height: 30px;
    margin: 0.5rem 0;
  }
}

h3,
h4 h5 {
  font-size: 28px !important;
  line-height: 34px !important;
  color: $white !important;
  font-weight: 600;
  font-family: $headFont !important;
  span {
    margin-right: 5px !important;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;
  color: $white;
  letter-spacing: 1px;

  @include for-tablet-portrait-up() {
    font-size: 16px !important;
  }
}
ul {
  li {
    color: $white;
  }
}

a {
  font-size: 18px;
  line-height: 28px;
}

img {
  border-radius: 8px;
}

button,
.a,
.btn {
  font-family: $Poppins !important;
  font-size: 16px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  width: max-content;
  text-transform: capitalize !important;
  padding: 0.2rem 0;

  @include for-tablet-portrait-up() {
    font-size: 12px !important;
    line-height: 22px !important;
  }
}

.section-padding-top {
  padding-top: 60px;

  @include at-900px() {
    padding-top: 40px;
  }

  @include for-tablet-portrait-up() {
    padding-top: 30px;
  }
}
.section-padding-bottom {
  padding-bottom: 60px;

  @include at-900px() {
    padding-bottom: 40px;
  }

  @include for-tablet-portrait-up() {
    padding-bottom: 30px;
  }
}

.bread-crumb {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 16px;
  a {
    font-size: 16px !important;
    line-height: 20px;

    @include for-tablet-portrait-up() {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.animated-background {
  width: auto;
  font-weight: 500;
  background: linear-gradient(
    to left,
    rgba(237, 108, 222, 1),
    rgb(72, 50, 133, 1)
  );
  animation: mymove 0.6s reverse infinite;
}

@keyframes mymove {
  from {
    background: linear-gradient(
      to left,
      rgba(72, 50, 133, 1),
      rgba(237, 108, 222, 1)
    );
  }
  to {
    background: linear-gradient(
      to left,
      rgba(237, 108, 222, 1),
      rgba(72, 50, 133, 1)
    );
  }
}

.image-wrapper {
  width: 100%;
  .image {
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
  }
}

.ccard-main {
  text-align: center;
  margin: 12px 16px;

  @include for-tablet-portrait-up() {
    margin-top: 16px;
  }
  p {
    font-size: 18px;
    font-weight: 600;
  }

  .ccard {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 80px #000ce8aa);
    border-radius: 12px;
    padding: 5px;
    object-fit: contain;

    &:hover {
      filter: drop-shadow(0 0 40px #000ce8aa);
    }
  }
}

// ------Divider hr Component--------
.hr {
  margin: 0.5rem auto;
  width: 60%;
  background: white;
  border: 1px solid white !important;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 16px black;
  width: 80%;
  margin: 2rem 1rem;
  padding: 1rem 1rem;

  img {
    width: 82%;
    border: 2px solid silver;
    overflow: hidden;
  }
  .links-container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// --------Scroll bar------

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.css-1q2h7u5 {
  font-size: 20px !important;
  font-weight: 300 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0, 4s ease-in-out;
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
}

.wrapper {
  margin-top: 7rem;
}

.css-heg063-MuiTabs-flexContainer {
  @include for-tablet-portrait-up() {
    flex-direction: column !important;
  }
}

.button {
  background-color: #fc3845 !important;
}

.app {
  padding-top: 90px;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;
}

.colored-pill {
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  background: linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: -webkit-linear-gradient(
      to right,
      rgb(236, 56, 188),
      rgba(0, 12, 232)
    );
    background: linear-gradient(to right, rgb(236, 56, 188), rgba(0, 12, 232));
    transform: scale(1.4);
    transition: all 0.3s ease-out;
  }
}
.stack-pill {
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  background: linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: none;

  &:hover {
    background: -webkit-linear-gradient(
      to right,
      rgb(236, 56, 188),
      rgba(0, 12, 232)
    );
    background: linear-gradient(to right, rgb(236, 56, 188), rgba(0, 12, 232));
    transform: scale(1.2);
    transition: all 0.3s ease-out;
  }
}

.card {
  position: relative;
  background: transparent;
  padding-bottom: 10px;
  overflow-x: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 4px 4px 60px rgba(0, 12, 232, 0.667);

  &:hover {
    background-color: rgba(0, 12, 232, 0.667);
    filter: drop-shadow(0 0 40px rgba(0, 12, 232, 0.667));
    transition: all 0.3s ease-in-out;

    .btn,
    .stack-pill {
      box-shadow: 4px 4px 12px black;
      transition: all 0.3s ease-in-out;
    }
    .card-title {
      text-shadow: 4px 4px 12px black;
      text-decoration: underline;
    }
    .img-wrap {
      img {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @include at-900px() {
    min-width: auto;
  }

  @include for-tablet-portrait-up() {
    margin: auto;
    min-width: auto;
  }

  .img-wrap {
    height: 160px;
    overflow: hidden;
    img {
      object-fit: cover !important;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card-title {
    color: white !important;
  }
  .created {
    font-size: 12px;
    line-height: 22px;
    font-family: $headFont;
  }
  .description {
    font-size: 14px;
    line-height: 18px;
  }

  .card-stack {
    margin: 6px 0 6px;
  }
  .desc-list {
    padding-left: 0 !important;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 6px;
      width: fit-content;
      margin-right: 10px;
    }
  }

  .card-btns {
    cursor: pointer;
    transform: scale(1);
    border: none;
    .more {
      text-decoration: none;
    }
  }
}

// ----Arrow slide-----
a,
button,
.btn {
  transition: 0.1s ease-in;
  &:hover {
    .arrow {
      transform: translateX(50%);
    }
  }
}

.arrow {
  margin-left: 6px;
  filter: invert(1);
  transition: 0.1s ease-in;
}
// ------

.dot {
  height: 50px;
  width: 50px;
  background-color: rgba(188, 62, 174, 1);
  border-radius: 50%;
  margin-right: 5px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.btn-bg {
  color: white !important;
  border: none;
  transition: all 0.8s ease-out;
  background: #03001e;
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  background: linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  transition: all 0.6s ease;

  &:hover {
    background: -webkit-linear-gradient(
      to right,
      rgba(236, 56, 188, 1),
      rgba(0, 12, 232, 1)
    );
    background: linear-gradient(
      to right,
      rgba(236, 56, 188, 1),
      rgba(0, 12, 232, 1)
    );
  }
}

.zoom-btn {
  transition: all 0.6s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.experience {
  background: rgb(0 0 0 / 30%);
  border-radius: 12px;
  filter: drop-shadow(0 0 80px #000ce8aa);
  border-radius: 12px;
}

// -----details--------------
.details-img-wrap {
  position: relative;

  .details-image-wrap {
    height: 450px;
    width: 450px;
    padding-bottom: 20px;

    @include at-900px() {
      width: 100%;
      height: auto;
    }

    .details-image {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
      transition: transform 0.8s;
      height: auto;
      max-height: 600px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 9;

      @include at-900px() {
        height: 400px !important;
        transform: scale(1);
      }

      &:hover {
        height: auto;
        overflow: auto;
      }
    }
  }

  .zoom {
    transform: scale(1.6) translate(30%, 30%);
    @include at-900px() {
      transform: scale(1.1);
    }
  }
}

.accordion {
  .accordion-button {
    box-shadow: none !important;

    h2 {
      font-family: $Poppins !important;
      @include at-900px() {
        font-size: 24px !important;
        line-height: 30px !important;
      }

      @include for-tablet-portrait-up() {
        font-size: 18px !important;
        line-height: 24px !important;
        margin: 0.5rem 0;
      }
    }

    .collapsed {
      &:hover {
        background: linear-gradient(
          to left,
          #483285 30%,
          rgba(188, 62, 174, 0.5803921569) 70%
        );
      }
    }
    &:not(.collapsed) {
      box-shadow: none !important;
      background: transparent;
      &::after {
        background-image: url("../images/angle-circle-arrow-up-icon.svg");
        transform: scale(1.6);
        @include at-900px() {
          transform: scale(1.2);
        }
      }
    }
    &::after {
      background-image: url("../images/angle-circle-arrow-down-icon.svg");
      transform: scale(1.6);
      filter: invert(100%);
      @include at-900px() {
        transform: scale(1.2);
      }
    }
  }
  .heading {
    @include at-900px() {
      font-size: 22px;
    }
  }
}

.accordion-item:last-child {
  border-radius: 12px !important;
  border-top: 1px solid rgba(188, 62, 174, 0.5803921569) !important;
  border-bottom: 1px solid rgba(188, 62, 174, 0.5803921569) !important;
  border: 1px solid rgba(188, 62, 174, 0.5803921569);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg) !important;
  --bs-tooltip-color: var(--bs-white) !important;
}

.modal-backdrop {
  z-index: 9999999 !important;
  height: auto !important;
}

.reverseLinks {
  color: rgb(244, 244, 244);
  padding: 2px 4px;
  &:hover {
    text-shadow: 1px 1px 2px black;
    background-color: white;
    color: black;
    border-radius: 8px;
  }
}

.project-details {
  .details {
    h1 {
      font-size: 28px !important;
      line-height: 32px;

      @include at-900px() {
        font-size: 22px !important;
        line-height: 26px;
      }
    }
  }

  .react-multi-carousel-list {
    padding-bottom: 60px;
    padding-left: 0 !important;

    li {
      margin-right: 12px;
      @include at-900px() {
        margin-right: 0;
      }
    }
  }
}

.react-multi-carousel-item {
  justify-content: center !important;
  display: flex;
}
.react-multi-carousel-list {
  padding-bottom: 60px;
  padding-left: 0 !important;

  .react-multi-carousel-dot--active {
    color: #fc3845;
    button {
      background: rgba(188, 62, 174, 1) !important;
      width: 34px;
      height: 12px;
      border-radius: 8px;
      border-color: rgba(188, 62, 174, 1) !important;
      transition: initial 0.3s ease;
    }
  }

  .react-multiple-carousel__arrow {
    border-radius: 10px;
    border: 1px solid rgba(188, 62, 174) !important;

    &:hover {
      border: 1px solid white !important;
    }
  }

  .react-multi-carousel-dot-list {
    bottom: 0px;
  }
}

.form-select {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 18px;
  width: 60px;
}

.css-1aquho2-MuiTabs-indicator,
.MuiTabs-indicator {
  background-color: rgba(188, 62, 174, 1) !important;
  height: 4px !important;
  padding: 2px !important;
}

.colored-text {
  background: -webkit-linear-gradient(
    to right,
    rgb(54, 64, 247),
    rgba(236, 56, 188, 1)
  );
  background: linear-gradient(
    to right,
    rgb(54, 64, 247),
    rgba(236, 56, 188, 1)
  );
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
}

.header-pic {
  cursor: pointer;
  width: 100% !important;
  object-fit: contain;
  filter: drop-shadow(0 0 80px #000ce8aa);

  @include at-900px {
    height: 200px;
    margin: 10px auto 20px;
  }
  @include for-tablet-portrait-up() {
    margin: 10px auto 10px;
  }
}

.highlight {
  font-weight: 800;
  color: #f85cce;
}

.zoom-image {
  transition: all 0.6s ease;
  z-index: 9;
  &:hover {
    transform: scale(1.4);
  }
}

// -------------
section {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9px;
  background: linear-gradient(
    to right,
    rgba(0, 12, 232, 1),
    rgba(236, 56, 188, 1)
  );
  transform-origin: 0%;
  z-index: 999;
}

.Typewriter {
  display: inline-block;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgb(255, 35, 229);
}

h1,
h2,
h3,
h4,
h5 {
  span {
    .Typewriter__wrapper {
      font-family: $headFont;
    }
  }
}

// .cursive {
//   span {
//     .Typewriter__wrapper {
//       font-family: $merriweather;
//     }
//   }
// }

.multi-colored-text {
  display: flex;
  align-items: center;
  color: white;
  span {
    font-family: $cursive;
    font-weight: 300 !important;
    background: linear-gradient(
      to right,
      rgb(248, 81, 203) 0%,
      rgb(76, 85, 250) 100%
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: moveGradient 5s ease infinite;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%; // Start from the left
  }
  100% {
    background-position: 100% 50%; // Move to the right
  }
}

// --*ExperienceBlock*--
.ExperienceBlock {
  h3 {
    font-family: $Poppins !important;
    font-size: 26px !important;
    font-weight: 600 !important;
  }
  .responsibilities,
  p {
    font-weight: 500;
    font-size: 18px;
    font-family: $Poppins;
  }
  .colored-pill {
    font-size: 14px;
    font-weight: 500;
  }
}
