// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* font-family: 'Permanent Marker', cursive; */
// font-family: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Montserrat:wght@300;500;600;700&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@400;500;700&display=swap");

// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Serif', serif;
$headFont: "Roboto Serif", serif;
$baseFont: "Montserrat", sans-serif;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $baseFont;
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin at-900px {
  @media (max-width: 900px) {
    @content;
  }
}

@import "_navbar.scss";
@import "_home.scss";
@import "_about.scss";
@import "_skills.scss";
@import "_project.scss";

// ------Header Component --------

heading {
  text-align: center;
  font-family: $headFont;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
  // padding: 0.5rem 2rem;
  // margin: 1rem 0;
  @include for-tablet-portrait-up() {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  h1 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
    font-family: $headFont !important;
    text-shadow: 1px 1px 2px black;
    padding: 0.5rem 0;
    @include for-tablet-portrait-up() {
      font-size: 2.1rem;
      margin: 0.5rem 0;
    }
  }
}
// ------H1 Component --------
h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  font-family: $headFont !important;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 0;

  @include for-tablet-portrait-up() {
    font-size: 2.1rem;
    margin: 0.5rem 0;
  }
}
// ------H2 Component --------
// .h2 {
//   font-size: 32px;
//   line-height: 42px;
//   font-weight: 600;
//   padding: 1rem 1.5rem;
//   // margin: 1rem 0;
//   font-family: system-ui;
//   @include for-tablet-portrait-up() {
//     font-size: 1rem;
//     margin: 0.5rem 0;
//   }
// }
// ------p Component --------
p {
  font-size: 18px;
  line-height: 28px;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;

  @include for-tablet-portrait-up() {
    font-size: 0.8rem;
  }
}

a {
  font-size: 18px;
  line-height: 28px;
}

// ------Image Component--------
.image-wrapper {
  width: 100%;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;

  .image {
    margin: 0 auto;
    height: 240px;
    width: 240px;
  }
  p {
    margin: 0 auto;
  }
}
// ------Small Image Component--------

.ccard-main {
  // width: 100%;
  text-align: center;
  margin: 20px;

  .ccard {
    // height: 140px;
    width: 80px;
    background: white;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
    transition: box-shadow 0.5s;
    will-change: transform;
    box-shadow: 0 0 2px silver;
  }
}

// ------Divider hr Component--------
.hr {
  margin: 0.5rem auto;
  width: 60%;
  background-color: rgb(39, 38, 38);
}

// ------Project Card--------
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 16px black;
  width: 80%;
  margin: 2rem 1rem;
  padding: 1rem 1rem;

  img {
    width: 82%;
    /* height: 16rem; */
    border: 2px solid silver;
    overflow: hidden;
  }
  .links-container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// --------Scroll bar------

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 6rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #56b0fd94, #3a7bd5);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0, 4s ease-in-out;
  background: linear-gradient(to bottom, #3e7dbc94, #0951b6);
}

.wrapper {
  margin-top: 7rem;
}

.css-heg063-MuiTabs-flexContainer {
  @include for-tablet-portrait-up() {
    flex-direction: column !important;
  }
}
