@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Montserrat:wght@300;500;600;700&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@400;500;700&display=swap');

$headFont: 'Roboto Serif', serif;
$baseFont: 'Montserrat', sans-serif;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $baseFont;
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin at-900px {
  @media (max-width: 900px) {
    @content;
  }
}

@import '_navbar.scss';
@import '_home.scss';
@import '_about.scss';
@import '_skills.scss';
@import '_project.scss';

.defaultBg {
  background-color: rgba(188, 62, 174, 0.5803921569);
}

.head {
  text-align: center;
  font-family: $headFont;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
  @include for-tablet-portrait-up() {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .heading {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-family: $headFont !important;
    text-shadow: 1px 1px 2px black;
    padding: 0.5rem 0;

    @include for-tablet-portrait-up() {
      font-size: 2.1rem;
      margin: 0.5rem 0;
    }
  }
}
// ------H1 Component --------
h1 {
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  font-family: $headFont !important;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 0;
  color: $white;

  @include for-tablet-portrait-up() {
    font-size: 2.1rem;
    margin: 0.5rem 0;
  }
}

h2,
h3,
h4 h5 {
  color: $white !important;
  span {
    margin-right: 5px !important;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  padding: 0.2rem 0;
  margin: 0.2rem 0rem;
  color: $white;

  @include for-tablet-portrait-up() {
    font-size: 1rem;
  }
}
ul {
  li {
    color: $white;
  }
}

a {
  font-size: 18px;
  line-height: 28px;
}

button {
  font-family: $baseFont !important;
  font-size: 16px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  width: max-content;
  text-transform: capitalize !important;

  @include for-tablet-portrait-up() {
    font-size: 12px !important;
    line-height: 22px !important;
  }
}

.image-wrapper {
  width: 100%;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;

  .image {
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
  }
}

.ccard-main {
  text-align: center;
  margin: 12px 16px;

  @include for-tablet-portrait-up() {
    margin-top: 16px;
  }

  .ccard {
    width: 80px;
    // background: rgba(70, 70, 70, 0.3);
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 30%);
    padding: 10px;
    transition: box-shadow 0.5s;
    will-change: transform;
    box-shadow: 0 0 2px silver;
    height: 77px;
    object-fit: contain;
  }
}

// ------Divider hr Component--------
.hr {
  margin: 0.5rem auto;
  width: 60%;
  background-color: rgb(39, 38, 38);
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 16px black;
  width: 80%;
  margin: 2rem 1rem;
  padding: 1rem 1rem;

  img {
    width: 82%;
    border: 2px solid silver;
    overflow: hidden;
  }
  .links-container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// --------Scroll bar------

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 6rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #56b0fd94, #3a7bd5);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0, 4s ease-in-out;
  background: linear-gradient(to bottom, #3e7dbc94, #0951b6);
}

.wrapper {
  margin-top: 7rem;
}

.css-heg063-MuiTabs-flexContainer {
  @include for-tablet-portrait-up() {
    flex-direction: column !important;
  }
}

.button {
  background-color: #fc3845 !important;
}

.app {
  margin-top: 120px;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;
}

.colored-pill {
  background: linear-gradient(to left, #bc3eae94 30%, #483285 70%);
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: repeating-linear-gradient(135deg, #483285 30%, #bc3eae94 70%);
    transform: scale(1.4);
    transition: all 0.3s ease-out;
  }
}
.stack-pill {
  background-color: #483285;
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #32235a;
    transform: scale(1.4);
    transition: all 0.3s ease-out;
  }
}

.card {
  position: relative;
  cursor: pointer;
  background: rgb(0 0 0 / 60%);
  padding-bottom: 30px;
  overflow-x: hidden;

  &:hover {
    background-color: rgba(188 62 174 /60%);
    border: rgba(188 62 174 /60%);
    box-shadow: 6px 6px 23px rgb(0 0 0 / 90%);
    transition: all 0.3s ease-in-out;

    .btn,
    .stack-pill {
      box-shadow: 4px 4px 12px black;
      transition: all 0.3s ease-in-out;
    }
    .card-title {
      text-shadow: 4px 4px 12px black;
    }
  }

  @include at-900px() {
    min-width: auto;
  }

  @include for-tablet-portrait-up() {
    max-width: 340px !important;
    margin: auto;
    min-width: auto;
  }

  .img-wrap {
    height: 220px;
    overflow: hidden;
    img {
      object-fit: cover !important;
    }
  }

  .card-title {
    color: white !important;
  }
  .card-stack {
    max-height: 130px;
    margin: 30px 0 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 15px;
  }

  .card-btns {
    position: absolute;
    bottom: 20px;
  }
}

.experience {
  background: rgb(0 0 0 / 30%);
  padding: 12px;
  border-radius: 12px;
}
